.sheet-content {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.bron-content{
    width: 300px;
    display: grid;
    grid-template-rows: 75px 50px 100px 100px;
    grid-template-columns: 75px 223px;
    border: 2px solid black;
    grid-template-areas:
    "bron-image bron-nazwa"
    "bron-staty bron-staty"
    "bron-wlasciwosci bron-wlasciwosci"
    "bron-opis bron-opis"
}

.bron-image{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    grid-area: bron-image;
}

.bron-nazwa{
    border-bottom: 2px solid black;
    grid-area: bron-nazwa;
}

.bron-staty{
    border-bottom: 2px solid black;
    grid-area: bron-staty;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.bron-wlasciwosci{
    grid-area: bron-wlasciwosci;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.bron-opis{
    grid-area: bron-opis;
}

.item{
    input{
        background: none;
        border: none;
    }
}

.centrowanie{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.nazwaPrzedmiotu{
    font-size: 1.6em;
    font-weight: bold;
    height: auto;
    width: auto;
}

.wiekszyFont{
    font-size: 1.2em;
}

.itemSelect{
    width: auto; 
    background: none; 
    border: none; 
    text-align: center;
}

.srodekKolumn{
    grid-column: 1/3;
}

.tom-content{
    width: 300px;
    display: grid;
    grid-template-rows: 75px 40px 100px;
    grid-template-columns: 75px 223px;
    border: 2px solid black;
}

.bieglosc-content{
    width: 300px;
    display: grid;
    grid-template-rows: 75px 40px auto;
    grid-template-columns: 75px 223px;
    border: 2px solid black;
}

.ogolne-content{
    width: 350;
    display: grid;
    grid-template-rows: 75px 100px;
    grid-template-columns: 75px auto;
    border: 2px solid black;
}

.zbroja-content{
    width: 300px;
    display: grid;
    grid-template-rows: 75px 50px 100px;
    grid-template-columns: 75px 223px;
    border: 2px solid black;
}

