.sheet-content {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.bron_wlasciwosci{
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item{
    input{
        background: none;
        border: none;
    }
}