.sheet-content {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.bron_wlasciwosci {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item input {
  background: none;
  border: none;
}
.postac-siatka {
  display: grid;
  grid-template-columns: 150px 180px 100px 250px;
  grid-template-rows: 70px 290px 150px;
  grid-gap: 5px;
  grid-template-areas: "naglowek naglowek poziom plecak" "atrybuty bieglosci zasoby plecak" "portret notatki zasoby2 zasoby2";
}
h3 {
  text-decoration: none;
  border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 3px;
}
.postac.naglowek {
  border: 2px solid black;
  grid-area: naglowek;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.postac.poziom {
  border: 2px solid black;
  grid-area: poziom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.postac.plecak {
  border: 2px solid black;
  grid-area: plecak;
}
.postac.atrybuty {
  border: 2px solid black;
  grid-area: atrybuty;
}
.postac.bieglosci {
  border: 2px solid black;
  grid-area: bieglosci;
}
.postac.zasoby {
  border: 2px solid black;
  grid-area: zasoby;
}
.postac.zasoby2 {
  border: 2px solid black;
  grid-area: zasoby2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "zasoby2head zasoby2head zasoby2head" "zapasyNag narzedziaNag komponentyNag" "zapasyVal1 narzedziaVal komponentyVal" "zapasyVal2 narzedziaVal komponentyVal";
}
.postac.portret {
  border: 2px solid black;
  grid-area: portret;
}
.postac.notatki {
  border: 2px solid black;
  grid-area: notatki;
}
.postac div.odstepdol {
  padding-bottom: 10px;
}
.postac div.item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.postac input {
  background: none;
  border: none;
}
.postac input.inputStat {
  font-size: 1.2em;
  margin: auto;
  width: 10px;
}
.postac input.inputZloto {
  font-size: 1em;
  margin: auto;
  width: 50px;
}
.postac input.inputZasob {
  width: 25px;
  float: right;
}
.postac input.inputZasob2 {
  width: 25px;
  float: left;
}
.postac input.prawo {
  text-align: right;
}
.postac input.lewo {
  text-align: left;
}
.postac span {
  padding-top: 4px;
}
.postac img {
  max-width: 100%;
  max-height: 100%;
}
.postac textarea {
  background: none;
  border: none;
  height: 100px;
}
.paddingLewo {
  padding-left: 4px;
}
.srodek {
  text-align: center;
}
.atrybuty_partial {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.zasob {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.zasoby_partial {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 1fr fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.plecak_partial {
  display: grid;
  grid-row-gap: 0px;
  grid-template-rows: 2fr 19fr 2fr;
}
.zasoby.label {
  grid-column: 1/4;
}
.zasoby2_partial {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.zasoby2.label {
  grid-column: 1/3;
}
.zasoby2.label2 {
  grid-column: 3/5;
}
.zasoby2.label3 {
  grid-column: 5/7;
}
.opis {
  font-size: 1.2em;
  padding-top: 2.5px;
}
.zasobyCheckbox {
  background: none;
  border: none;
}
input[type=checkbox] {
  display: none;
}
.czekbox {
  border: black;
  display: inline-block;
  padding: 3px;
  /* background: url("unchecked.png") no-repeat left center; */
  /* padding-left: 15px; */
}
input[type=checkbox]:checked + .czekbox {
  position: relative;
  /* background-image: url("checked.png"); */
}
input[type=checkbox]:checked + .czekbox:after {
  content: "\f00d";
  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left: 4px;
  position: absolute;
  top: 4px;
  font-size: 25px;
}
input[type=checkbox]:checked + .czekbox2 {
  position: relative;
  /* background-image: url("checked.png"); */
}
input[type=checkbox]:checked + .czekbox2:after {
  content: "\f043";
  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left: 2px;
  position: absolute;
  top: 10px;
  font-size: 15px;
}
.zasoby2head {
  grid-area: zasoby2head;
}
.zapasyNag {
  grid-area: zapasyNag;
}
.narzedziaNag {
  grid-area: narzedziaNag;
}
.komponentyNag {
  grid-area: komponentyNag;
}
.zapasyVal1 {
  grid-area: zapasyVal1;
}
.zapasyVal2 {
  grid-area: zapasyVal2;
}
.komponentyVal {
  grid-area: komponentyVal;
}
.narzedziaVal {
  grid-area: narzedziaVal;
}
.przeciwnik-siatka {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-template-rows: 100px 250px;
  grid-gap: 5px;
  grid-template-areas: "portret info" "zdolnosci zdolnosci";
}
.przeciwnik-staty {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.przeciwnik.info {
  grid-area: info;
}
.przeciwnik.portret {
  grid-area: portret;
}
.przeciwnik.zdolnosci {
  grid-area: zdolnosci;
}
.przeciwnik.ramka {
  border: 2px solid black;
}
.przeciwnik input {
  background: none;
  border: none;
}
.przeciwnik input.inputStat {
  font-size: 1.2em;
  margin: auto;
  width: 10px;
}
.przeciwnik input.inputStat2 {
  font-size: 1.2em;
  margin: auto;
  width: 25px;
}
.przeciwnik input.inputZasob {
  width: 25px;
  float: right;
}
.przeciwnik input.inputZasob2 {
  width: 25px;
  float: left;
}
.przeciwnik input.prawo {
  text-align: right;
}
.przeciwnik input.lewo {
  text-align: left;
}
.przeciwnik span {
  padding-top: 4px;
}
.przeciwnik img {
  max-width: 100%;
  max-height: 100%;
}
