.sheet-content {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.bron-content {
  width: 300px;
  display: grid;
  grid-template-rows: 75px 50px 100px 100px;
  grid-template-columns: 75px 223px;
  border: 2px solid black;
  grid-template-areas: "bron-image bron-nazwa" "bron-staty bron-staty" "bron-wlasciwosci bron-wlasciwosci" "bron-opis bron-opis";
}

.bron-image {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-area: bron-image;
}

.bron-nazwa {
  border-bottom: 2px solid black;
  grid-area: bron-nazwa;
}

.bron-staty {
  border-bottom: 2px solid black;
  grid-area: bron-staty;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.bron-wlasciwosci {
  grid-area: bron-wlasciwosci;
  border-bottom: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.bron-opis {
  grid-area: bron-opis;
}

.item input {
  background: none;
  border: none;
}

.centrowanie {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.nazwa-przedmiotu {
  font-size: 1.6em;
  font-weight: bold;
  height: auto;
  width: auto;
}

.wiekszy-font {
  font-size: 1.2em;
}

.item-select {
  width: auto;
  background: none;
  border: none;
  text-align: center;
}

.srodek-kolumn {
  grid-column: 1/3;
}

.tom-content {
  width: 300px;
  display: grid;
  grid-template-rows: 75px 40px 100px;
  grid-template-columns: 75px 223px;
  border: 2px solid black;
}

.bieglosc-content {
  width: 300px;
  display: grid;
  grid-template-rows: 75px 40px auto;
  grid-template-columns: 75px 223px;
  border: 2px solid black;
}

.ogolne-content {
  width: 350;
  display: grid;
  grid-template-rows: 75px 100px;
  grid-template-columns: 75px auto;
  border: 2px solid black;
}

.zbroja-content {
  width: 300px;
  display: grid;
  grid-template-rows: 75px 50px 100px;
  grid-template-columns: 75px 223px;
  border: 2px solid black;
}

.postac-siatka {
  display: grid;
  grid-template-columns: 150px 180px 100px 250px;
  grid-template-rows: 70px 290px 150px;
  grid-gap: 5px;
  grid-template-areas: "naglowek naglowek poziom plecak" "atrybuty bieglosci zasoby plecak" "portret notatki zasoby2 zasoby2";
}

h3 {
  text-decoration: none;
  border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 3px;
}

.postac.naglowek {
  border: 2px solid black;
  grid-area: naglowek;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.postac.poziom {
  border: 2px solid black;
  grid-area: poziom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.postac.plecak {
  border: 2px solid black;
  grid-area: plecak;
}
.postac.atrybuty {
  border: 2px solid black;
  grid-area: atrybuty;
}
.postac.bieglosci {
  border: 2px solid black;
  grid-area: bieglosci;
}
.postac.zasoby {
  border: 2px solid black;
  grid-area: zasoby;
}
.postac.zasoby2 {
  border: 2px solid black;
  grid-area: zasoby2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "zasoby2head zasoby2head zasoby2head" "zapasyNag narzedziaNag komponentyNag" "zapasyVal1 narzedziaVal komponentyVal" "zapasyVal2 narzedziaVal komponentyVal";
}
.postac.portret {
  border: 2px solid black;
  grid-area: portret;
}
.postac.notatki {
  border: 2px solid black;
  grid-area: notatki;
}
.postac div.odstepdol {
  padding-bottom: 10px;
}
.postac div.item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.postac input {
  background: none;
  border: none;
}
.postac input.input-stat {
  font-size: 1.2em;
  margin: auto;
  width: 10px;
}
.postac input.input-zloto {
  font-size: 1em;
  margin: auto;
  width: 50px;
}
.postac input.input-zasob {
  width: 25px;
  float: right;
}
.postac input.input-zasob-2 {
  width: 25px;
  float: left;
}
.postac input.prawo {
  text-align: right;
}
.postac input.lewo {
  text-align: left;
}
.postac span {
  padding-top: 4px;
}
.postac img {
  max-width: 100%;
  max-height: 100%;
}
.postac textarea {
  background: none;
  border: none;
  height: 100px;
}

.padding-lewo {
  padding-left: 4px;
}

.srodek {
  text-align: center;
}

.atrybuty-partial {
  display: grid;
  grid-gap: 10px 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.zasob {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.zasoby-partial {
  display: grid;
  grid-gap: 5px 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.plecak-partial {
  display: grid;
  grid-row-gap: 0;
  grid-template-rows: 2fr 19fr 2fr;
}

.zasoby.label {
  grid-column: 1/4;
}

.zasoby2-partial {
  display: grid;
  grid-gap: 10px 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.zasoby2.label {
  grid-column: 1/3;
}
.zasoby2.label2 {
  grid-column: 3/5;
}
.zasoby2.label3 {
  grid-column: 5/7;
}

.opis {
  font-size: 1.2em;
  padding-top: 2.5px;
}

.zasoby-checkbox {
  background: none;
  border: none;
}

.actor input[type=checkbox] {
  display: none;
}

.checkbox {
  border: black;
  display: inline-block;
  padding: 3px;
  /* background: url("unchecked.png") no-repeat left center; */
  /* padding-left: 15px; */
}

input[type=checkbox]:checked + .checkbox {
  position: relative;
  /* background-image: url("checked.png"); */
}

input[type=checkbox]:checked + .checkbox::after {
  content: "\f00d"; /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome, serif;
  left: 4px;
  position: absolute;
  top: 4px;
  font-size: 25px;
}

input[type=checkbox]:checked + .czekbox2 {
  position: relative;
  /* background-image: url("checked.png"); */
}

input[type=checkbox]:checked + .czekbox2::after {
  content: "\f043"; /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome, serif;
  left: 2px;
  position: absolute;
  top: 10px;
  font-size: 15px;
}

.zasoby2-head {
  grid-area: zasoby2head;
}

.zapasy-nag {
  grid-area: zapasyNag;
}

.narzedzia-nag {
  grid-area: narzedziaNag;
}

.komponenty-nag {
  grid-area: komponentyNag;
}

.zapasy-val-1 {
  grid-area: zapasyVal1;
}

.zapasy-val-2 {
  grid-area: zapasyVal2;
}

.komponenty-val {
  grid-area: komponentyVal;
}

.narzedzia-val {
  grid-area: narzedziaVal;
}

.przeciwnik-siatka {
  display: grid;
  grid-template-columns: 100px 280px;
  grid-template-rows: 100px 200px;
  grid-gap: 5px;
  grid-template-areas: "portret info" "zdolnosci zdolnosci";
}

.przeciwnik-staty {
  display: grid;
  grid-template-columns: 55px 75px 50px 50px 50px;
  grid-template-rows: 1fr 1fr;
}

.zasob-potwor {
  display: grid;
  grid-template-columns: 35px 5px 35px;
}

.zasob-potwor-2 {
  display: grid;
  grid-template-columns: 25px 5px 25px;
}

.przeciwnik.info {
  grid-area: info;
}
.przeciwnik.portret {
  grid-area: portret;
}
.przeciwnik.zdolnosci {
  grid-area: zdolnosci;
}
.przeciwnik.ramka {
  border: 2px solid black;
}
.przeciwnik input {
  background: none;
  border: none;
}
.przeciwnik input.input-stat {
  font-size: 1.2em;
  margin: auto;
  width: 10px;
}
.przeciwnik input.input-stat-2 {
  font-size: 1.2em;
  margin: auto;
  width: 25px;
}
.przeciwnik input.input-zasob {
  width: 25px;
  float: right;
}
.przeciwnik input.input-zasob-2 {
  width: 25px;
  float: left;
}
.przeciwnik input.prawo {
  text-align: right;
}
.przeciwnik input.lewo {
  text-align: left;
}
.przeciwnik span {
  padding-top: 4px;
}
.przeciwnik img {
  max-width: 100%;
  max-height: 100%;
}

.torba-na-lupy-content {
  width: 200px;
  display: grid;
  grid-template-rows: 50px auto;
  border: 2px solid black;
  grid-template-areas: "torba-nazwa" "torba-kosci";
}

.torba-nazwa {
  border-bottom: 2px solid black;
  text-align: center;
  grid-area: torba-nazwa;
}

.torba-kosci {
  grid-area: torba-kosci;
}

/*# sourceMappingURL=AZS.css.map */
