<div class='bieglosci_partial'>
  <h3>Biegłości</h3>
  <section class='lista-bieglosci'>
    {{#each bieglosci as |bieglosc|}}
      <div class='item padding-lewo' data-item-id='{{id}}'>
        <a
          class='rzut-na-bieglosc'
          data-roll='d20+@atrybut+@poziom'
          data-label='{{system.opis}}'
          data-typ='{{system.typBieglosci}}'
        >{{name}}</a>
        <a class='item-delete'>
          <i class='fa-regular fa-xmark'></i>
        </a>
      </div>
    {{/each}}
  </section>
</div>