<section class = "lista-przedmiotow">
    {{#each zdolnosciPrzeciwnika as |zdolnoscPrzeciwnika|}}
        <div class="item paddingLewo" data-item-id="{{id}}" style="padding-bottom: 5px;">
            <a class="item-edit" style="font-weight: bold;">{{name}}</a>
                - {{data.data.opis}} 
                <a class="item-delete">
                <i class="fa-regular fa-xmark"></i>
            </a>
        </div>
    {{/each}}
</section>