<form class="{{cssClass}}" autocomplete="off">
  <div class="postac-siatka">
    <div class="postac naglowek">
      <div><h3>{{localize 'AZS.pc.sheet.name'}}</h3></div>
      <div><h3>{{localize 'AZS.pc.sheet.archetype'}}</h3></div>
      <div><h3>{{localize 'AZS.pc.sheet.kin'}}</h3></div>
      <div class="srodek opis">
        <input name="name" type="text" value="{{actor.name}}" />
      </div>
      <div class="srodek">
        <select
          name="system.pochodzenie"
          style="
            width: auto;
            background: none;
            border: none;
            text-align: center;
          "
        >
          {{#select actor.system.pochodzenie}} {{#each config.pochodzenie as
          |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>
      <div class="srodek">
        <select
          name="system.rasa"
          style="
            width: auto;
            background: none;
            border: none;
            text-align: center;
          "
        >
          {{#select actor.system.rasa}} {{#each config.rasa as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>
    </div>
    <div class="postac atrybuty">
      {{> "systems/AZS/templates/partials/atrybuty-postaci.hbs"}}
    </div>
    <div class="postac bieglosci">
      {{> "systems/AZS/templates/partials/bieglosci-postaci.hbs"}}
    </div>
    <div class="postac portret">
      <img
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
        style="border: none"
      />
    </div>
    <div class="postac notatki">
      <h3>
        {{localize 'AZS.pc.sheet.notes.header'}}
      </h3>
      <textarea
        name="actor.system.opis"
        style="background: none; border: none; height: 110px; width: 175px"
      >
        {{~actor.system.opis~}}
      </textarea>
    </div>
    <div class="postac poziom">
      <div class="opis padding-lewo">
        {{localize 'AZS.pc.sheet.level.header'}}
      </div>
      <div class="atr wartosc srodek">
        <input
          class="input-stat"
          name="system.poziom"
          type="text"
          value="{{actor.system.poziom}}"
          data-dtype="Number"
          maxlength="1"
          size="1"
        />
      </div>
      <div class="opis padding-lewo">
        {{localize 'AZS.pc.sheet.level.xp'}}
      </div>
      <div class="inputCyferki srodek">
        <input
          name="system.pd"
          type="text"
          value="{{actor.system.pd}}"
          data-dtype="Number"
          maxlength="4"
          size="4"
        />
      </div>
    </div>
    <div class="postac zasoby">
      {{> "systems/AZS/templates/partials/zasoby-postaci.hbs"}}
    </div>
    <div class="postac plecak">
      {{> "systems/AZS/templates/partials/plecak-postaci.hbs"}}
    </div>
    <div class="postac zasoby2">
      {{> "systems/AZS/templates/partials/zasoby2-postaci.hbs"}}
    </div>
  </div>
</form>
