<form class="{{cssClass}}" autocomplete="off">
  <div class="przeciwnik-siatka">
    <div class="ramka przeciwnik portret">
      <img
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
        style="border: none"
      />
    </div>
    <div class="ramka przeciwnik info srodek">
      <div
        style="
          font-size: 1.6em;
          padding-top: 5px;
          padding-bottom: 5px;
          font-weight: bold;
        "
      >
        {{actor.name}}
      </div>
      <div class="przeciwnik-staty">
        <div class="opis srodek">
          {{localize 'AZS.npc.sheet.life'}}
        </div>
        <div class="opis srodek">
          {{localize 'AZS.npc.sheet.armor'}}
        </div>
        <div class="opis srodek">
          {{localize 'AZS.npc.sheet.move'}}
        </div>
        <div class="opis srodek">
          {{localize 'AZS.npc.sheet.challenge-rating'}}
        </div>
        <div class="opis srodek">
          {{localize 'AZS.npc.sheet.xp'}}
        </div>
        <div class="srodek zasob-potwor-2">
          <div class="prawo">
            <input
              class="input-zasob"
              name="system.zycie.value"
              type="text"
              value="{{actor.system.zycie.value}}"
              data-dtype="Number"
              maxlength="2"
              size="2"
            />
          </div>
          <span> / </span>
          <input
            class="input-zasob lewo"
            name="system.zycie.max"
            type="text"
            value="{{actor.system.zycie.max}}"
            data-dtype="Number"
            maxlength="2"
            size="2"
          />
        </div>
        <div class="srodek zasob-potwor">
          <div class="prawo">
            <input
              class="input-zasob prawo"
              name="system.pp.value"
              type="text"
              value="{{actor.system.pp.value}}"
              data-dtype="Number"
              maxlength="2"
              size="2"
            />
          </div>
          <span> / </span>
          <input
            class="input-zasob lewo"
            name="system.pp.max"
            type="text"
            value="{{actor.system.pp.max}}"
            data-dtype="Number"
            maxlength="2"
            size="2"
          />
        </div>
        <div class="srodek wartosc">
          <input
            class="input-stat"
            name="system.szybkosc"
            type="text"
            value="{{actor.system.szybkosc}}"
            data-dtype="Number"
            maxlength="1"
            size="1"
          />
        </div>
        <div class="srodek wartosc">
          <input
            class="input-stat-2"
            name="system.st"
            type="text"
            value="{{actor.system.st}}"
            data-dtype="Number"
            maxlength="2"
            size="2"
          />
        </div>
        <div class="srodek wartosc">
          <input
            class="srodek"
            name="system.exp"
            type="text"
            value="{{actor.system.exp}}"
            data-dtype="Number"
            maxlength="4"
            size="4"
          />
        </div>
      </div>
    </div>
    <div class="ramka przeciwnik zdolnosci">
      <div class="srodek" style="padding-top: 2px">
        <h3>
          {{localize 'AZS.npc.sheet.skills.header'}}
          <a
            class="item-create"
            data-type="zdolnoscPrzeciwnika"
            title='{{localize "AZS.pc.sheet.backpack.add.item"}}'
          >
            <i
              class="fa-regular fa-plus"
              style="
                float: right;
                font-size: 14px;
                padding-top: 3px;
                padding-right: 5px;
              "
            ></i>
          </a>
        </h3>
      </div>
      {{> "systems/AZS/templates/partials/zdolnosci-przeciwnika.hbs"}}
    </div>
  </div>
</form>
