<form class="{{cssClass}}" autocomplete="off">
    <div class="torba-na-lupy-content">
        <div class="torba-nazwa" style = "font-size: 1.6em; padding-top: 10px; font-weight: bold;">
            <i class="fa-regular fa-sack"></i>   {{actor.name}}
        </div>
        <div class="torba-kosci">
            <div class="srodek wiekszyFont">Kości w torbie</div>
            <section class = "srodek kosci-skarbow" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                {{#each kosciSkarbu as |koscSkarbu|}}
                    <div class="item" data-item-id="{{id}}" style = "padding-top: 5px; padding-left: 5px; padding-right: 5px; font-size: 1.2em;">
                        <a class="rzut-na-skarb" data-label="rzut kością skarbu" data-roll="{{data.data.formula}}"><i class="fa-regular fa-dice"></i> {{name}}</a>
                    </div>
                {{/each}}
            </section>
        </div>
    </div>
</form>
