<form class="{{cssClass}}" autocomplete="off">
  <div class="zbroja-content">
    <div style="border-right: 2px solid black; border-bottom: 2px solid black">
      <img
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
        height="auto"
        width="auto"
        style="border: none"
      />
    </div>
    <div
      class="item centrowanie srodek nazwa-przedmiotu"
      style="border-bottom: 2px solid black"
    >
      <input
        class="nazwa-przedmiotu"
        name="name"
        type="text"
        value="{{item.name}}"
      />
    </div>
    <div
      class="srodek-kolumn centrowanie"
      style="
        border-bottom: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      "
    >
      <div class="srodek wiekszy-font">
        {{localize 'AZS.item.armor.sheet.armor-class.header'}}
      </div>
      <div class="srodek wiekszy-font">
        {{localize 'AZS.item.armor.sheet.max-armor-class.header'}}
      </div>
      <div class="srodek wiekszy-font">
        {{localize 'AZS.item.armor.sheet.slots.header'}}
      </div>
      <div class="srodek item wiekszy-font">
        <input
          name="data.pp"
          type="text"
          value="{{data.pp}}"
          data-dtype="Number"
          maxlength="1"
          size="1"
        />
      </div>
      <div class="srodek item wiekszy-font">
        <input
          name="data.ppmax"
          type="text"
          value="{{data.ppmax}}"
          data-dtype="Number"
          maxlength="1"
          size="1"
        />
      </div>
      <div class="srodek item wiekszy-font">
        <input
          name="data.sloty"
          type="text"
          value="{{data.sloty}}"
          data-dtype="Number"
          maxlength="1"
          size="1"
        />
      </div>
    </div>
    <div class="srodek-kolumn">
      <div class="srodek wiekszy-font">
        {{localize 'AZS.item.armor.sheet.description.header'}}
      </div>
      <div style="padding-right: 5px; padding-left: 5px">
        <textarea
          name="data.opis"
          style="background: none; border: none; height: 75px; width: 285px"
        >{{>
          "systems/AZS/templates/partials/description.hbs"
          description='AZS.item.armor.sheet.description.default-content'
        }}</textarea>
      </div>
    </div>
  </div>
</form>
