<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "AZS.zbroja.pp"}}</th>
                <th>{{localize "AZS.zbroja.ppmax"}}</th>
            </tr>
            <tr>
                <td><input name="data.pp" type=""text" value="{{data.data.pp}}" data-dtype="Number" /></td>
                <td><input name="data.ppmax" type=""text" value="{{data.data.ppmax}}" data-dtype="Number" /></td>
            </tr>
        </table>
        <textarea name="data.opis">{{data.data.opis}}</textarea>
    </div>
</form>
